<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='google' content='notranslate'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src='https://d3js.org/d3.v5.min.js'></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
    <script src='{{ url_for('static', filename='js/gridview.js') }}'></script>
    <script src='{{ url_for('static', filename='js/gridview.3d.js') }}'></script>
    <script src='{{ url_for('static', filename='js/info.division.js') }}'></script>
    <script src='{{ url_for('static', filename='js/socket.handler.js') }}'></script>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'
        integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/global.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/gridview.css') }}'>
    <title>AIdel</title>
</head>

<body onload='initGridView(10)'>
    <main>
        <nav class='nav nav-pills nav-justified'>
            <h2 class='nav-link disabled title'>AIdel</h2>
            <a href='#' class='nav-link active'>避障模擬</a>
            <a href='#' class='nav-link'>即時影像</a>
            <a href='#' class='nav-link'>穿戴式裝置展示</a>
        </nav>
        <div id='simulate-div'>
            <div class='input-group'>
                <input id='n-random' type='text' class='form-control' placeholder='請輸入生成數量' aria-label='請輸入生成數量'
                    aria-describedby='btnRandom'>
                <div class='input-group-append'>
                    <button id='btnGenerate' class='btn btn-outline-secondary simulate'>生成障礙物</button>
                    <button id='btnRandomGenerate' class='btn btn-outline-secondary simulate'>生成隨機數量障礙物</button>
                    <button id='btnSimulate' class='btn btn-outline-secondary simulate'>開始模擬</button>
                </div>
            </div>
            <div id='info-div'>
                <div class='card-header'></div>
                <div class='card-body scrollbar'></div>
            </div>
        </div>
        <div id='model-div' style='display: none;'>
            <div id='model-result-div'>
                <div class='card-header'>
                    <h3 style='font-weight: bold; display: inline;'>資訊欄</h3>
                    <a id='btnFileUpload' class='btn btn-sm btn-info' href='fileUpload'>上傳文件</a>
                    <button id='btnToggleReceive' class='btn btn-xs btn-primary'>暫停接收</button>
                    <button id='btnChangePosition' class='btn btn-xs btn-danger'>變換位置</button>
                    <label id='position'></label>
                </div>
                <div class='card-body scrollbar'>
                    <h4 class='warn-text'>
                        {% if model_file_name %}
                        目前socket沒有連線 / socket接收已禁用
                        {% else %}
                        目前socket沒有連線
                        {% endif %}
                    </h4>
                </div>
            </div>
            {% if model_file_name %}
            <div id='model-file-div'>
                <div class='card-header'>
                    <span>
                        <img src="{{ url_for('static', filename='assets/arrow-right.png') }}" alt="點擊可將資訊欄隱藏">
                        <h5>{{ model_file_name }}</h5>
                    </span>
                </div>
                <div class='card-body scrollbar'></div>
            </div>
            {% endif %}
            <div id='model-3d'></div>
        </div>
        <div id='equipment-div' style='display: none;'></div>
    </main>
</body>
<script>
    let currentPage = 1;
    $('nav a.nav-link').click(function () {
        $('main > div').hide();
        $(this).parent().children('a')
            .removeClass('active');
        $(this).addClass('active');

        currentPage = $(this).index();
        $('main > ' + `div:nth-of-type(${currentPage})`).show();
    });

    $('#n-random').keyup((e) => {
        e = e.target;

        if (!/^\d+$/.test(e.value)) {
            $(e).val(/^\d+/.exec($(e).val()));
        } else if (e.value <= 0 || e.value > upperLimit) {
            $(e).val('');
        }
        $('#btnGenerate').text(`生成${e.value + (e.value === '' ? '' : '個')}障礙物`);
        return false;
    });

    $('#btnGenerate').click((e) => {
        if (intervalID) return;
        isEnd = false;
        initGridView(Number($('#n-random').val()));
    });

    $('#btnRandomGenerate').click((e) => {
        if (intervalID) return;
        isEnd = false;
        initGridView(Math.floor(Math.random() * (upperLimit - 1)) + 1);
    });

    let count = 1;
    $('#btnSimulate').click(function () {
        if ($(this).text() === '開始模擬') {
            simulate(count++);
            $(this).text('取消模擬');
        } else {
            clearInterval(intervalID);
            intervalID = undefined;
            clearTimeout(timeoutID);
            timeoutID = undefined;
            initGridView(Number($('#n-random').val()) ||
                Math.floor(Math.random() * (upperLimit - 1)) + 1);
            $(this).text('開始模擬');
        }
    });

    gridview3d.initialize();


    function decode(str) {
        str = unescape(str.replace(/\\u/g, '%u'));
        str = str.replace(/&#(x)?(\w+);/g, ($, $1, $2) => {
            return String.fromCharCode(parseInt($2, $1 ? 16 : 10));
        });

        return str;
    }

    let modelFile = '{{ model_file_content }}';
    if (modelFile) {
        modelFile = JSON.parse(decode(modelFile));
        gridview3d.readFile(modelFile);
    }
</script>

</html>