.title {
    display: table;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 40px;
}

.title h2 {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.title h2 span {
    color: brown;
}

.card-body {
    padding: 10px;
}

.card-body.scrollbar {
    height: 500px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.card-body.scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.card-body.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #F5F5F5;
}

.card-body.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
}

.color-chart {
    width: 25px;
    height: 25px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

#navbar {
    background-color: #FFFFCA;
    padding-top: 10px;
}

#navbar a {
    font-weight: bold;
    color: black;
}

#navbar a.active {
    color: rgb(233, 83, 37);
}

#model-result-div {
    width: calc(100vw - 900px);
    height: 90vh;
    float: right;
    border: 1.1px solid rgba(0, 0, 0, .3);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#info-div,
#info-div+svg,
#model-result-div,
#model-3d {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#model-3d {
    width: 900px;
    height: 90vh;
}